.results-table {
  table-layout: fixed;
  width: 100%;
  font-size: 16px;
  max-width: 560px;
}

@media (max-width: 450px) {
  .results-table {
    font-size: 12px;
  }
}

.results-table th:nth-child(1) {
  width: 20%;
}
.results-table th:nth-child(2) {
  width: 40%;
}
.results-table th:nth-child(3) {
  width: 40%;
}

.results-table th,
.results-table td {
  border: 1px solid rgb(165, 165, 165);
  border-collapse: collapse;
  padding: 10px 15px;
  text-align: center;
  word-break: break-all;
}

.game-results-round-tie {
  background-color: #fff9b9;
}
.game-results-round-win {
  background-color: #bcf8bc;
}
.game-results-round-lost {
  background-color: #ffd3d3;
}

.game-results-label {
  font-size: 18px;
}
